<html lang='es'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
  </head>

  <body style='margin:0;font-family:Arial, sans-serif;'>
    <table style='border:0;width:100%;'>
      <tr style='background:#539091;'>
        <td
          style='padding:20px;color:#fff;text-align:center;font-size:28px;font-weight:600;'
        >
          {{app_name}}
        </td>
      </tr>
      <tr>
        <td style='padding:20px;color:#333;font-size:16px;'>
          {{text1}}<br />
          {{text2}}<br />
          {{text3}}
        </td>
      </tr>
      <tr>
        <td style='text-align:center'>
          <hr />
          <span style='padding:10px;color:#666;font-size:12px;'>
            {{footerText1}}
          </span>
        </td>
      </tr>
    </table>
  </body>

</html>